<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تفاصيل التذكرة</title>
    <link rel="stylesheet" href='../../../NIB/Public/CSS/ticket-details.css'>
</head>

<body>
    <div class="container">
        <header>
            <h1>التذكرة #12345 - T24</h1>
        </header>

        <section class="ticket-summary">
            <p>وصف المشكلة هنا. يواجه الموظف مشكلات مع الطابعة، مثل تعطل الورق ومشكلات في الاتصال.</p>
        </section>

        <section class="ticket-details">
            <div class="details-column">
                <div class="status">
                    <h3>الحالة</h3>
                    <p class="status-label status-in-progress">قيد العمل</p>
                </div>

                <div class="priority">
                    <h3>الأولوية</h3>
                    <p class="priority-label priority-high">عالية</p>
                </div>

                <div class="deadline">
                    <h3>تاريخ الإنشاء</h3>
                    <p>2024-08-30</p>
                </div>

                <div class="deadline">
                    <h3>تاريخ التحديث</h3>
                    <p>2024-08-30</p>
                </div>
            </div>

            <div class="actions-column">
                <a href="ticket.html"><button class="btn-action update-status">تحديث الحالة</button></a>
                <a href="home.html"><button class="btn-action close-ticket">إغلاق التذكرة</button></a>
            </div>
        </section>
    </div>
</body>

</html>
